<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body style="background: rgb(243, 243, 166);">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="./map.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="./dashboard2.html">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="./add_entries.html">Admin</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
                <h3 id="current-date"></h3>  
            </form>
          </div>
        </div>
    </nav>
    <h1 style="padding-inline: 30%; margin-top: 2%;">Update Database</h1>
    <div class="update" style="padding-inline: 30%;">
        <form id="data-form" method="post" >
            <div class="row">
                <div class="col-sm-6">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" aria-describedby="emailHelp" required>
                </div>
                <div class="col-sm-6">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" required>
                </div>
            </div>
            <hr>
            <label for="table_name" class="form-label">Table Name</label>
            <select class="form-select" aria-label="Default select example" id="table_name">
                <option selected>Select</option>
                <option value="1">covid19_asia</option>
                <option value="2">covid19_africa</option>
                <option value="3">covid19_europe</option>
                <option value="4">covid19_northamerica</option>
                <option value="5">covid19_southamerica</option>
                <option value="6">covid19_oceania</option>
            </select>

            <label for="date" class="form-label">Date</label>
            <input class="form-control" type="date" aria-label="default input example" id="date">

            <label for="date" class="form-label">Country</label>
            <input class="form-control" type="text" id="country" name="country">

            <label for="date" class="form-label">Region</label>
            <input type="text" class="form-control" id="region" name="region">
 
            <label for="confirmed" class="form-label">Confirmed Cases</label>
            <input type="number" class="form-control" id="confirmed" name="confirmed">

            <label for="deaths" class="form-label">Deaths</label>
            <input type="number" class="form-control" id="deaths" name="deaths">

            <label for="recovered" class="form-label">Recovered</label>
            <input type="number" class="form-control" id="recovered" name="recovered">

            <label for="active" class="form-label">Active Cases</label>
            <input type="number" class="form-control" id="active" name="active">
    
            <label for="total_tests" class="form-label">Total Cases</label>
            <input type="number" class="form-control" id="total_tests" name="total_test">
    
            <label for="population" class="form-label">Population</label>
            <input type="number" class="form-control" id="population" name="population">
    
            <label for="tests_per_million" class="form-label">Tests Per Million</label>
            <input type="number" class="form-control" id="tests_per_million" name="tests_per_million">
    
            <label for="tests_per_person" class="form-label">Tests Per Person</label>
            <input type="number" class="form-control" id="tests_per_person" name="test_per_person">
    
            <button type="submit" class="btn btn-primary" id="submitButton" style="margin-top: 2%;">Submit</button>

        </form>
    </div>
    <script>
      document.getElementById('data-form').addEventListener('submit', function (event) {
          event.preventDefault(); // Prevent the default form submission
  
          // Retrieve form values
          var username = document.getElementById('username').value;
          var password = document.getElementById('exampleInputPassword1').value;
          var tableName = document.getElementById('table_name').value;
          var date = document.getElementById('date').value;
          var country = document.getElementById('country').value;
          var region = document.getElementById('region').value;
          var confirmed = document.getElementById('confirmed').value;
          var deaths = document.getElementById('deaths').value;
          var recovered = document.getElementById('recovered').value;
          var active = document.getElementById('active').value;
          var totalTests = document.getElementById('total_tests').value;
          var population = document.getElementById('population').value;
          var testsPerMillion = document.getElementById('tests_per_million').value;
          var testsPerPerson = document.getElementById('tests_per_person').value;

  
          // Perform further actions or send data to the server using AJAX
          // Example: Send form data to the server using fetch
          fetch('http://127.0.0.1:5000/add_entries.html', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                  username: username,
                  password: password,
                  tableName: tableName,
                  date: date,
                  country: country,
                  region: region,
                  confirmed: confirmed,
                  deaths: deaths,
                  recovered: recovered,
                  active: active,
                  totalTests: totalTests,
                  population: population,
                  testsPerMillion: testsPerMillion,
                  testsPerPerson: testsPerPerson
              })
          })
          .then(response => {
              // Handle the response here
              console.log('Request successful! Response:', response);
          })
          .catch(error => {
              // Handle any errors that occur during the fetch request
              console.error('Error:', error);
          });
      });

  </script>
 
</body>
</html>