<!DOCTYPE html>
<html lang="en" style="background: rgb(243, 243, 166);">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <link rel="stylesheet" href="./style2.css">
  </head>
  <body style="background: rgb(243, 243, 166);">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="./map.html">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="./dashboard2.html">Dashboard</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="./add_entries.html">Admin</a>
                </li>
              </ul>
              <form class="d-flex" role="search">
                  <h3 id="current-date"></h3>  
              </form>
            </div>
          </div>
      </nav>  
    
    <div class="topbar">
          <div class="row" style="margin-left: 5%; margin-right: 5%;">
            <label for="start_date" class="form-label" style="padding-right: 1%;">Start</label>
            <input class="form-control me-2" type="date" id="start_date" name="start_date" required>
            <label for="end_date" class="form-label" style="padding-left: 2%; padding-right: 1%;">End</label>
            <input class="form-control me-2" type="date" id="end_date" name="end_date" required>
            <button class="btn btn-outline-success" id="searchButton" type="button">Search</button>

          </div>
    </div>
    <!--Cards-->
    <div class = "cards" style="margin-left: 2%; margin-right: 2%;">
      <div class="row">
          <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="card" style="background: #00394f; color: #eee;">
              <div class="card-body">
                <h5 class="card-title">Confirmed Cases</h5>
                <p class="card-text">123,000,000</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card" style="background: #00394f; color: #eee;">
              <div class="card-body">
                <h5 class="card-title">Recovered</h5>
                <p class="card-text">20,500</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
              <div class="card" style="background: #00394f; color: #eee;">
                <div class="card-body">
                  <h5 class="card-title">Deaths</h5>
                  <p class="card-text">45</p>
                </div>
              </div>
          </div>
      </div>
    </div>

    <!--Line Graphs: Data to be queried -->
    <div class="graphs" style="margin-top: 2%; margin-left: 2%; margin-right: 2%;">
      <div class="row">
          <div class="col-sm-4 mb-3 mb-sm-0">
              <label for="North_america">North America</label>
              <canvas id="North_america" style="width:100%;max-width:600px"></canvas>
              <script>
              const xValues = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "July", "Aug", "Sept", "Oct", "Nov", "Dec"];

              new Chart("North_america", {
              type: "line",
              data: {
                  labels: xValues,
                  datasets: [{ 
                  data: [860,1140,1060,1060,1070,1110,1330,2210,7830,2478],
                  borderColor: "red",
                  fill: false
                  }, { 
                  data: [1600,1700,1700,1900,2000,2700,4000,5000,6000,7000],
                  borderColor: "green",
                  fill: false
                  }, { 
                  data: [300,700,2000,5000,6000,4000,2000,1000,200,100],
                  borderColor: "blue",
                  fill: false
                  }]
              },
              options: {
                  legend: {display: false}
              }
              });
              </script>
          </div>
          <div class="col-sm-4 mb-3 mb-sm-0">
              <label for="South_america">South America</label>
              <canvas id="South_america" style="width:100%;max-width:700px"></canvas>
              
              <script>
                  const x2Values = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "July", "Aug", "Sept", "Oct", "Nov", "Dec"];
      
                  new Chart("South_america", {
                  type: "line",
                  data: {
                      labels: x2Values,
                      datasets: [{ 
                      data: [860,1140,1060,1060,1070,1110,1330,2210,7830,2478],
                      borderColor: "red",
                      fill: false
                      }, { 
                      data: [1600,1700,1700,1900,2000,2700,4000,5000,6000,7000],
                      borderColor: "green",
                      fill: false
                      }, { 
                      data: [300,700,2000,5000,6000,4000,2000,1000,200,100],
                      borderColor: "blue",
                      fill: false
                      }]
                  },
                  options: {
                      legend: {display: false}
                  }
                  });
              </script>
          </div>
          <div class="col-sm-4 mb-3 mb-sm-0">
              <label for="South_america">Africa</label>
              <canvas id="Africa" style="width:100%;max-width:700px"></canvas>
              <script>
                  const x3Values = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "July", "Aug", "Sept", "Oct", "Nov", "Dec"];
      
                  new Chart("Africa", {
                  type: "line",
                  data: {
                      labels: xValues,
                      datasets: [{ 
                      data: [860,1140,1060,1060,1070,1110,1330,2210,7830,2478],
                      borderColor: "red",
                      fill: false
                      }, { 
                      data: [1600,1700,1700,1900,2000,2700,4000,5000,6000,7000],
                      borderColor: "green",
                      fill: false
                      }, { 
                      data: [300,700,2000,5000,6000,4000,2000,1000,200,100],
                      borderColor: "blue",
                      fill: false
                      }]
                  },
                  options: {
                      legend: {display: false}
                  }
                  });
              </script>
          </div>
      </div>
      <!--row 2 of line graphs-->
      <div class="row">
          <div class="col-sm-4 mb-3 mb-sm-0">
              <label for="South_america">Asia</label>
              <canvas id="Asia" style="width:100%;max-width:600px"></canvas>
              <script>
              const x4Values = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "July", "Aug", "Sept", "Oct", "Nov", "Dec"];

              new Chart("Asia", {
              type: "line",
              data: {
                  labels: xValues,
                  datasets: [{ 
                  data: [860,1140,1060,1060,1070,1110,1330,2210,7830,2478],
                  borderColor: "red",
                  fill: false
                  }, { 
                  data: [1600,1700,1700,1900,2000,2700,4000,5000,6000,7000],
                  borderColor: "green",
                  fill: false
                  }, { 
                  data: [300,700,2000,5000,6000,4000,2000,1000,200,100],
                  borderColor: "blue",
                  fill: false
                  }]
              },
              options: {
                  legend: {display: false}
              }
              });
              </script>
          </div>
          <div class="col-sm-4 mb-3 mb-sm-0">
              <label for="Europe">Europe</label>
              <canvas id="Europe" style="width:100%;max-width:700px"></canvas>
              <script>
                  const x5Values = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "July", "Aug", "Sept", "Oct", "Nov", "Dec"];
      
                  new Chart("Europe", {
                  type: "line",
                  data: {
                      labels: x2Values,
                      datasets: [{ 
                      data: [860,1140,1060,1060,1070,1110,1330,2210,7830,2478],
                      borderColor: "red",
                      fill: false
                      }, { 
                      data: [1600,1700,1700,1900,2000,2700,4000,5000,6000,7000],
                      borderColor: "green",
                      fill: false
                      }, { 
                      data: [300,700,2000,5000,6000,4000,2000,1000,200,100],
                      borderColor: "blue",
                      fill: false
                      }]
                  },
                  options: {
                      legend: {display: false}
                  }
                  });
              </script>
          </div>
          <div class="col-sm-4 mb-3 mb-sm-0">
              <label for="Oceania">Oceania</label>
              <canvas id="Oceania" style="width:100%;max-width:700px"></canvas>
              <script>
                  const x6Values = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "July", "Aug", "Sept", "Oct", "Nov", "Dec"];
      
                  new Chart("Oceania", {
                  type: "line",
                  data: {
                      labels: x6Values,
                      datasets: [{ 
                      data: [860,1140,1060,1060,1070,1110,1330,2210,7830,2478],
                      borderColor: "red",
                      fill: false
                      }, { 
                      data: [1600,1700,1700,1900,2000,2700,4000,5000,6000,7000],
                      borderColor: "green",
                      fill: false
                      }, { 
                      data: [300,700,2000,5000,6000,4000,2000,1000,200,100],
                      borderColor: "blue",
                      fill: false
                      }]
                  },
                  options: {
                      legend: {display: true}
                  }
                  });
              </script>
          </div>
      </div>
      <!--row 3 of line graphs-->
      <div class="row">
        <div class="col-sm-4 mb-3 mb-sm-0" style="margin-inline: auto;">
          <label for="World">World</label>
          <canvas id="World" style="width:100%;max-width:600px"></canvas>
          <script>
          const x7Values = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "July", "Aug", "Sept", "Oct", "Nov", "Dec"];

          new Chart("World", {
          type: "line",
          data: {
              labels: xValues,
              datasets: [{ 
              data: [860,1140,1060,1060,1070,1110,1330,2210,7830,2478],
              borderColor: "red",
              fill: false
              }, { 
              data: [1600,1700,1700,1900,2000,2700,4000,5000,6000,7000],
              borderColor: "green",
              fill: false
              }, { 
              data: [300,700,2000,5000,6000,4000,2000,1000,200,100],
              borderColor: "blue",
              fill: false
              }]
          },
          options: {
              legend: {display: false}
          }
          });
          </script>
        </div>
      </div>
      </div>
    </div>
    <script>
      document.getElementById('searchButton').addEventListener('click', function() {
        var startDateValue = document.getElementById('start_date').value;
        var endDateValue = document.getElementById('end_date').value;

                    // Perform an AJAX request using the fetch API
                    fetch('http://127.0.0.1:5000/dashboard2.html', {
                      method: 'POST',
                      headers: {
                          'Content-Type': 'application/json'
                          // Add any other headers if required
                      },
                      body: JSON.stringify({ date_from: startDateValue, date_to: endDateValue })
                  })
                  .then(response => {
                      // Check if the response is ok
                      if (!response.ok) {
                          throw new Error('Network response was not ok');
                      }
                      // Parse the response as JSON and return the promise
                      return response.json();
                  })
                  .then(data => {
                      // Access the data from the resolved promise
                      // console.log('Data:', data);
                      // Access individual properties of the data object

                  })
                  .catch(error => {
                      // Handle any errors that occur during the fetch request
                      console.error('Error:', error);
                  });
      });  


      // JavaScript to display the current date
      var currentDate = new Date();
      var dateElement = document.getElementById("current-date");
      dateElement.textContent = currentDate.toDateString();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
  </body>
</html>