*{
    margin:0;
    padding: 0;
}

body {
    background-color: #01171b;
}
.cards{
    margin-top: 2%;
}
.map{
    display: flex;
}
.map path {
    fill: #00394f;
    stroke: #eee;
    stroke-width: 0.7;
    transition: 0.1s;
}
path:hover {
    fill: rgb(243, 243, 166);
}
.topbar {
    margin-top: 2%;
}